{% extends 'default/index.html' %} 
{% block title %}Add Product{% endblock %} 
{% load static %} 
{% block style %}
<style>
    .container {
        max-width: 360px;
        /* Adjust max-width to fit form */
        width: 100%;
        padding: 20px;
        /* Add some padding around the form */
        border: 1px solid #ddd;
        /* Light border color for subtle border */
        border-radius: 8px;
        /* Rounded corners */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        /* Subtle shadow effect */
        background-color: #fff;
        /* Ensure background color for better contrast */
        height: 60%;
        /* Adjust height for responsiveness */
    }

    .form-signin {
        width: 100%;
    }

    /* Optional: Ensure the container grows and is centered */
    .vh-100 {
        height: 100vh;
        /* Full viewport height */
    }
</style>
{% endblock %} {% block body %}
  {% if msg %}
  <div class="alert alert-danger" role="alert">
    {{msg}}
  </div>
    {% endif %}
<div class="d-flex vh-100 justify-content-center align-items-center">
    <div class="container d-flex flex-column justify-content-center align-items-center">
        <img
        
          class="mb-4"
          src="{% static 'login/icon.jpg' %}"
          alt=""
          width="72"
          height="72"
        />
        <form method="post" action="{% url 'pre_send' %}" class="w-100">
            {% csrf_token %}
            <div class="form-group">
                <label for="exampleInputtext">Customer Email</label>
                <input type="text" class="form-control" id="text" aria-describedby="emailHelp" name='cemail'>
            </div>
            <div class="form-group">
                <label for="exampleInputtext">Confirmed Email</label>
                <input type="text" class="form-control" id="text" name='cemail2'>
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-success">Send</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}